{% extends 'layout/base.html' %}

{% block content %}
    <div class="">
      <img src="static/image/1.png" alt="Chicago" class="d-block w-100">
    </div>
    <div style="width:100%" class="d-flex justify-content-center ">
        <div style="text-align:center;width:300px;font-size:30px;border-radius:40px;" class=" text-white hover">BUY NOW!</div>
    </div>
    <div class="mt-5" style="width:100%">
      <img src="static/image/2.png" alt="Chicago" class="d-block w-100">
    </div>

    <div class="zoom" style="width:100%">
      <img src="static/image/3.png" alt="Chicago" class="d-block w-100">
    </div>
 <div style="width:100%" class="d-flex justify-content-center ">
        <div style="text-align:center;width:800px;font-size:30px; color:#3D5B7D;font-weight:700;" >OPEN CAMERA - OPEN FUTURE</div>
    </div>

    <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner d-flex justify-content-center">
    <div class="carousel-item active">
      <img src="static/image/p1.png" alt="Los Angeles" class="d-block w-30">
        <span>Iphone 15</span>
    </div>
    <div class="carousel-item">
      <img src="static/image/p2.png" alt="Chicago" class="d-block w-30">
    </div>
    <div class="carousel-item">
      <img src="static/image/p3.png" alt="New York" class="d-block w-30">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


<div class="container-fluid mt-10">
  <h3>Carousel Example</h3>
  <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>

{% endblock %}